doctype html
html
	head
		include header
	body
		block works_bg
		.maket
			.main_block
				.header_block
					.menu_block
						a.logo(href='/')
							.logo_img
						.menu_items
							a(href='/works') Работы
							a(href='/services') Услуги
							a(href='/contacts') Контакты
							a(href='http://www.nrdn.ru/blog', target='_blank') Блог
				.content_block
					block content
				.footer_block
					block footer