doctype html
html
	head
		include header
	body
		block works_bg
		.maket
			.main_block
				.menu_block
					a.logo(href='/') NRDN design
					.menu_items
						a(href='/works') работы
						a(href='/contacts') контакты
						//- a(href='/blog') блог
				.content_block
					block content
			.footer_block
				block footer