doctype 5
html
	head
		include header
	body
		.maket
			.main_block
				.header_block
					.menu_block
						a(href='/') NRDN design
						a(href='/works') Работы
						a(href='/services') Услуги
						a(href='/contacts') Контакты
				.content_block
					block content
				.footer_block
