doctype 5
html
	head
		include header
	body
		.maket
			.main_block
				.header_block
					.menu_block
						.menu_item NRDN design
						.menu_item Портфолио
						.menu_item Услуги
						.menu_item Контакты
				.content_block
					block content
				.footer_block
