doctype html
html
	head
		include header
	body
		.maket#scrollr-body
			.main_block
				.menu_block
					a.logo(href='#scrollr-body') NRDN design
					a.m_item(href='#works') работы
					a.m_item(href='#contacts') контакты
					.m_images
						.m_img_item
						.m_img_item
						.m_img_item
						.m_img_item
				.content_block
					block content
		.footer_block
			block footer