extends ../layout

block title
	title Хрюша

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/index.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/main.js' + version)
	script(type='text/javascript', src='/scripts/skrollr.min.js' + version)

block content
	#console
	#skrollr-body
		#menu(data-50-start="margin-top:-450px;"  data-250-start="margin-top:-780px; position: fixed;")
			.m_item(data-50-start="margin-top:200px;" data-250-start="margin-top:0px;") kkkkkkkkk
			.m_item zzzzz
			.m_item(data-50-start="margin-top:200px;" data-250-start="margin-top:0px;") hhhhhh
			.m_item fffffff
			.m_item(data-50-start="margin-top:200px;" data-250-start="margin-top:0px;") jjjjjjjjj
		#one(data-250-start="margin-top:800px;") 1111111111
		#works(data-anchor-target=".w_block:nth-child(odd)")
			.w_block
				.work one work
				.work two work
				.work three work
			.w_block
				.work one work
				.work two work
				.work three work
			.w_block
				.work one work
				.work two work
				.work three work
			.w_block
				.work one work
				.work two work
				.work three work
		#three 3333333333
		#four 44444444444