extends ../layout

block title
	title Хрюша

block append works_bg
	.background_works
		.background_item(style='background-image: url(/images/design/backgrounds/main.jpg)')

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/index.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/main.js' + version)

block content
	.content_description_block
		.content_title NRDN DESIGN
		.content_description Московское мультидисциплинарное креативное агентство