extends ../layout

block title
	title Хрюша

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/index.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/main.js' + version)
	script(type='text/javascript', src='/scripts/jquery.scrollorama.js' + version)

block content
	#console
	.scrollblock
			#one 1111111111
			#two
				#inner1 coool
				#inner2 zlooooo
			#three 3333333333
			#four 44444444444