extends ../layout

block title
	title NRDN design

block append works_bg
	.background_works
		.background_item(style='background-image: url(/images/design/backgrounds/main.jpg)')

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/index.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/main.js' + version)

block content
	.categorys
		.category.site: img.inner(src='/images/design/services/site.svg')
		.category.support: img.inner(src='/images/design/services/support.svg')
		.category.navigate: img.inner(src='/images/design/services/navigate.svg')
		.category.design: img.inner(src='/images/design/services/design.svg')
		.category.exhibition: img.inner(src='/images/design/services/exhibition.svg')
	.works
		.work.site
		.work.support
		.work.navigate
		.work.design
		.work.exhibition