extends ../layout

block title
	title NRDN design

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/index.css' + version)

block content_scripts
	script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAdOUtWoBDjtiaQ9vyioSeOT-c3-Qqnwq8&sensor=false')
	script(type='text/javascript', src='/scripts/g_maps.js' + version)
	script(type='text/javascript', src='/scripts/skrollr.js' + version)
	script(type='text/javascript', src='/scripts/skrollr.menu.js' + version)
	script(type='text/javascript', src='/scripts/main.js' + version)

block content
	#categorys(data-smooth-scrolling='off', data-anchor-target='#works', data-0='margin-top: 0px;', data-800='margin-top: -200px;', data-_works='margin-top: -200px;', data-top-bottom='margin-top: -350px;')
		.category
			img(src='/images/design/services/site.svg', data-anchor-target='#works', data-0='width: 100px;', data-800='width: 50px;')
			.cat_desc(data-anchor-target='#works', data-0='opacity: 1;', data-600='opacity: 0;') Создание сайтов
		.category
			img(src='/images/design/services/support.svg', data-anchor-target='#works', data-0='width: 100px;', data-800='width: 50px;')
			.cat_desc(data-anchor-target='#works', data-0='opacity: 1;', data-600='opacity: 0;') Поддержка сайтов
		.category
			img(src='/images/design/services/navigate.svg', data-anchor-target='#works', data-0='width: 100px;', data-800='width: 50px;')
			.cat_desc(data-anchor-target='#works', data-0='opacity: 1;', data-600='opacity: 0;') Разработка навигации
		.category
			img(src='/images/design/services/design.svg', data-anchor-target='#works', data-0='width: 100px;', data-800='width: 50px;')
			.cat_desc(data-anchor-target='#works', data-0='opacity: 1;', data-600='opacity: 0;') Графический дизайн
		.category
			img(src='/images/design/services/exhibition.svg', data-anchor-target='#works', data-0='width: 100px;', data-800='width: 50px;')
			.cat_desc(data-anchor-target='#works', data-0='opacity: 1;', data-600='opacity: 0;') Проектирование выставок
	#works(data-menu-offset='-100')
		.work.site
			each work in works
				if (work.category == 'site')
					.work_item
						!= work.logo
		.work.support
			each work in works
				if (work.category == 'support')
					.work_item
						!= work.logo
		.work.navigate
			each work in works
				if (work.category == 'navigate')
					.work_item
						!= work.logo
		.work.design
			each work in works
				if (work.category == 'design')
					.work_item
						!= work.logo
		.work.exhibition
			each work in works
				if (work.category == 'exhibition')
					.work_item
						!= work.logo
	#work_area
	#contacts
		!= '+7 (495) 629-03-40 / '
		a(href='mailto:mail@nrdn.ru') mail@nrdn.ru
		br
		|107031 Россия, Москва, ул. Большая Дмитровка, д. 24,
		br
		|м. Тверская, Чеховская, Пушкинская, Театральная.
		br
		br
		|Наши парнеры:
		br
		.partners_list
			.partner
			.partner

block footer
	#maps