extends ../layout

block title
	title Хрюша

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/index.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/main.js' + version)
	script(type='text/javascript', src='/scripts/skrollr.min.js' + version)

block content
	#console
	#skrollr-body
			#menu(data-10="position:fixed;" )
				.m_item kkkkkkkkk
				.m_item zzzzz
				.m_item hhhhhh
				.m_item fffffff
				.m_item jjjjjjjjj
			#one(data-100="margin-top:300px;" data-200="margin-top:20px;") 1111111111
			#works
				.w_block
					.work one work
					.work two work
					.work three work
				.w_block
					.work one work
					.work two work
					.work three work
				.w_block
					.work one work
					.work two work
					.work three work
				.w_block
					.work one work
					.work two work
					.work three work
			#three 3333333333
			#four 44444444444