extends ../layout

block title
	title Хрюша

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/index.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/main.js' + version)
	script(type='text/javascript', src='/scripts/jquery.scrollorama.js' + version)

block content
	#console
	.scrollblock
			#menu
				.m_item kkkkkkkkk
				.m_item zzzzz
				.m_item hhhhhh
				.m_item fffffff
				.m_item jjjjjjjjj
			#one 1111111111
	.scrollblock
			#works
				.w_block
					.work one work
					.work two work
					.work three work
				.w_block
					.work one work
					.work two work
					.work three work
				.w_block
					.work one work
					.work two work
					.work three work
				.w_block
					.work one work
					.work two work
					.work three work
			#three 3333333333
			#four 44444444444