extends ../layout

block title
	title NRDN design

block append works_bg
	.background_works
		.background_item(style='background-image: url(/images/design/backgrounds/main.jpg)')

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/index.css' + version)

block content_scripts
	script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAdOUtWoBDjtiaQ9vyioSeOT-c3-Qqnwq8&sensor=false')
	script(type='text/javascript', src='/scripts/g_maps.js' + version)
	script(type='text/javascript', src='/scripts/skrollr.js' + version)
	script(type='text/javascript', src='/scripts/main.js' + version)

block content
	.categorys_block(data-0p-top="margin-top: 14%;" data--55p-top="margin-top: 1%;")
		.category.site: img.inner(src='/images/design/services/site.svg', data-0="width: 100px;", data-450="width: 50px;")
		.category.support: img.inner(src='/images/design/services/support.svg', data-0="width: 100px;", data-450="width: 50px;")
		.category.navigate: img.inner(src='/images/design/services/navigate.svg', data-0="width: 100px;", data-450="width: 50px;")
		.category.design: img.inner(src='/images/design/services/design.svg', data-0="width: 100px;", data-450="width: 50px;")
		.category.exhibition: img.inner(src='/images/design/services/exhibition.svg', data-0="width: 100px;", data-450="width: 50px;")
	.works_block(data-0="margin-top: 700px;" data-1000="margin-top: 600px;")
		.work.site
			each work in works
				.work_item: != work.logo
		.work.support
			each work in works.splice(3)
				.work_item: != work.logo
		.work.navigate
			each work in works.splice(1)
				.work_item: != work.logo
		.work.design
			each work in works
				.work_item: != work.logo
		.work.exhibition
			each work in works
				.work_item: != work.logo
	.contacts_block
		!= '+7 (495) 629-03-40 / '
		a(href='mailto:mail@nrdn.ru') mail@nrdn.ru
		br
		|107031 Россия, Москва, ул. Большая Дмитровка, д. 24,
		br
		|м. Тверская, Чеховская, Пушкинская, Театральная.
block footer
	.maps_block
		#map-canvas
