extends ../layout

block title
	title РАБОТЫ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/works.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/works.js' + version)

block content
	h2 Работы