extends ../layout

block title
	title РАБОТЫ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/works.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/works.js' + version)

block content
	.content_title Работы
	.work_items
		each work in works
			.work_item
				a(href='/works/' + work._id)
					.work_logo
						!= work.logo