extends ../layout

block title
	title= work.ru.title

block append works_bg
	.background_works
		each image in work.images
			.background_item(style='background-image: url(' + image + ')')

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/work.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/work.js' + version)

block content
	.content_description_block
		.content_title= work.ru.title
		.content_description= work.ru.description