extends ../../../layout

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')

block content_scripts
	script(type='text/javascript', src='/scripts/add.js')

block content
	a.back_link(href='/auth') < Назад
	.title СПИСОК ПОСТОВ
	br
	each post in posts
		a(href='#')= 'удалить '
		||&nbsp;
		a(href='/auth/edit/posts/' + post._id)= post.ru.title
		b= ' ---> '
		a(href='/post/' + post._id, target='_blank') результат
			br
			br