extends ../layout

block title
	title КОНТАКТЫ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/contacts.css' + version)

block content_scripts
	script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAdOUtWoBDjtiaQ9vyioSeOT-c3-Qqnwq8&sensor=false')
	script(type='text/javascript', src='/scripts/contacts.js' + version)
	script(type='text/javascript', src='/scripts/g_maps.js' + version)

block append works_bg
	.background_works
		#map-canvas

block content
	.content_description_block
		.content_title Контакты
		.content_phone +7 (495) 629-03-40
		.content_description 107031 Россия, Москва, ул. Большая Дмитровка, д. 24. Ближайшие станции метро – Тверская, Чеховская, Пушкинская, Театральная.