extends ../layout

block title
	title УСЛУГИ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/services.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/services.js' + version)

block content
	.content_title Услуги
	.columns_block
		.column_item
			img.column_logo(src='/images/design/services/site.svg')
			.column_title Создание сайтов
			.column_description
				|При создании сайтов мы используем лучшие серверные и клиентские технологии, что делает сайты быстрыми и удобными как для пользователей, так и для редакторов.
				br
				|Мы создаем сайты как в рамках проектов по брендированию, так и как самостоятельные проекты.
		.column_item
			img.column_logo(src='/images/design/services/obsl.svg')
			.column_title Поддержка сайтов
			.column_description
				|Популярный и актуальный сайт – это постоянно изменяемая субстанция, словно живой организм.
				br
				|Сайт необходимо наполнять данными, обновлять функциональность сайта и дизайн.
				br
				|Мы разрабатываем модули к готовым сайтам, работаем над их защитой, быстродействием, актуальностью дизайна.
		.column_item
			img.column_logo(src='/images/design/services/nav.svg')
			.column_title Изготовление навигации
			.column_description описание описание описание описание описание описание описание описание описание описание
		.column_item
			img.column_logo(src='/images/design/services/vyst.svg')
			.column_title Выставки
			.column_description Дизайн выставочной экспозиции – особенный вид деятельности. Он стоит на стыке архитектуры и графического дизайна. Дизайнерам и архитекторам необходимо в правильном свете подать экспонаты, создать атмосферу выставки. #NRDN делали выставки в Музее Архитектуры имени Щусева в Москве, экспозицию выставки Зодчество в Гостином дворе. Мы имеем большой опыт в создании экспозиций для различных выставок.
		.column_item
			img.column_logo(src='/images/design/services/gr_dis.svg')
			.column_title Графический дизайн
			.column_description описание описание описание описание описание описание описание описание описание описание