body {
	margin: 0;
	padding: 0;
	background-image: url('/images/design/backgrounds/1.jpg');
	background-attachment: fixed;
}
.cont {
	width: 100%;
	outline: 1px solid black;
	margin-top: 250px;
}
.one {
	margin-top: 400px;
	height: 600px;
	background-color: green;
}
.two {
	height: 800px;
	background-color: blue;
}
.three {
	height: 1000px;
	background-color: red;
}
.four {
	height: 200px;
	background-color: yellow;
}