#console {
	position: fixed;
	z-index: 9999999;
	background-color: white;
}
body {
	margin: 0;
	padding: 0;
	background-image: url('/images/design/backgrounds/1.jpg');
	background-attachment: fixed;
}
.scrollblock {
	width: 100%;
	outline: 1px solid black;
}

#menu {
	цш
}

#one {
	margin-top: 350px;
	height: 600px;
	background-color: green;
}
#works {
	height: 800px;
	background-color: blue;
}
#three {
	height: 1000px;
	background-color: red;
}
#four {
	height: 200px;
	background-color: yellow;
}

.even {
	width: 1200px;
	overflow: hidden;
}

.odd {
	width: 1200px;
	clear: both;
	overflow: hidden;
}

.odd .work {
	background-color: red;
}

.even .work {
	background-color: black;
}

.work {
	width:180px;
	height: 180px;
	float: left;
	margin-right: 180px;
}