.content_block {
	overflow: hidden;
}

.categorys {
	position: fixed;
	margin-left: 200px;
}

.category {
	width: 100px;
	height: 100px;
	/*background-color: #eba1a4;*/
	float: left;
	margin-right: 100px;
	/*position: absolute;*/
}

.inner {
	width: 100px;
	height: 100px;
	/*background-color: #eba1a4;*/
}

.category:last-child {
	margin-right: 0;
}

.works {
	clear: both;
	margin-top: 600px;
	margin-left: 225px;
	overflow: hidden;
	position: relative;
	/*outline: 1px solid red;*/
}

.work {
	width: 100px;
	height: 600px;
	margin-left: 50px;
	margin-right: 50px;
	background-color: black;
	float: left;
}

.work:last-child {
	margin-right: 0;
}
