@font-face {
	font-family: Hel_neue_L;
	src: url('/fonts/HelveticaNeueCyr-Light.otf');
}

.main_block {
	/*outline: 1px solid red;*/
	overflow: hidden;
	width: 1280px;
	position: relative;
	margin: 200px auto;
}

.menu_block {
	width: 100px;
	/*min-height: 300px;*/
	/*outline: 1px solid red;*/
	position: fixed;
}

.menu_items a {
	font: 14pt/16pt 'Hel_neue_L';
	text-decoration: none;
	color: black;
	display: block;
}

.menu_items a:before {
	margin-right: 5px;
	content: '●';
}

.menu_items a:hover {
	text-decoration: underline;
}

.logo {
	font: 27pt/27pt 'Hel_neue_L';
	display: block;
	color: black;
	text-decoration: none;
	margin-bottom: 10px;
}