extends ../layout

block title
	title БЛОГ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/blog.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/blog.js' + version)

block content
	each post in posts
		a(href='/blog/posts/' + post._id)
			h2= post.ru.title
		b= post.ru.body
		br
		br
		each image in post.images
			img(src=image)
			br
			br
		br
		|тег:
		a(href='/blog/tags/' + post.tag)
			b= post.tag
		br
		br
