extends ../layout

block title
	title НАШИ БЛОГ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/post.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/post.js' + version)

block content
	h2= post.ru.title
	each image in post.images
		img(src=image)
		br
	b= post.ru.body
	br
	br
	b похожие:
	br
	each r_post in r_posts
		a(href='/blog/posts/' + r_post._id)= r_post.ru.title
		br