extends ../layout

block title
	title УСЛУГИ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/services.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/services.js' + version)

block content
	.content_title Услуги